* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header, footer {
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
}

main {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    height: auto;
}

.imag-fondo {
    margin: 10px;

} 

footer {
    background-color: white;
    border: 2px solid black;
    color: black;
    height: 50px;
    align-content: center;
    text-align: center;
  }

  /* Estilos de la barra de navegación */
  nav {
    background-color: white;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }

  .logo-navbar {
    height: 70px; /* Altura de la imagen */
    margin: 5px;
    animation: girar 5s infinite linear;
  }

  @keyframes girar {
    from {
      transform: rotate(360deg); /* Rotación inicial */
    }
    to {
      transform: rotate(0deg); /* Rotación completa */
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto; /* Mueve los ítems al margen derecho */
  }

  li {
    margin-left: 20px; /* Espacio entre ítems */
    background-color: rgb(97, 108, 189);
    border: 1px solid rgb(97, 108, 189);
    border-radius: 5px;
    padding: 15px;
  }

  li:first-child {
    margin-left: 0; /* Elimina el margen izquierdo del primer ítem */
  }

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    
  }

/* a:hover {
    color: green;
  } */

li:hover {
    color: white;
    background-color: rgb(76, 83, 143);
}

a:visited {
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
}

/* PRODUCTOS */
.contenedor-productos {
  
  border: 2px solid black;
  margin: 10px;
  padding: 10px;

  display: grid;
  gap: 20px; /* espacio entre elementos */
  grid-template-areas: "barra-lat contenido-productos contenido-productos";

}

.barra-lat {
  grid-area: barra-lat; /* nombre del area con el q defino arriba el espacio que va a ocupar */ 
  background-color: beige;
  border: 2px solid red; /* le pongo borde para ubicarme en el espacio */


}

.tit-barra-lat {
  padding: 5px;
}

.link-cr {  /* link a pagina de cañas y redes */

  /* ATENCION me toma los estilos de los links de la pagina principal
      MODIFICAR una vez que suban la pagina principal */
  text-decoration: none;
  color: black;

}


.contenido-productos {
  grid-area: contenido-productos; /* nombre del area con el q defino arriba el espacio que va a ocupar */
  background-color: beige;
  border: 2px solid red; /* le pongo borde para ubicarme en el espacio */
  border-radius: 0;
}

.tit-cont-productos {
  padding: 5px;

}