* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.bg-1 {
  background-color: rgb(47, 96, 90)
  }
  
.bg-2 {
  background-color: rgb(247, 247, 213)
  }
  
.text-1 {
    color:  rgb(47, 96, 90)
  }
    
.text-2 {
    color: rgb(247, 247, 213)
  }
  
.navbar{
    padding: 0rem;
  }
  
.navbar-nav li{
    padding-right: 20px;
  }
  
.nav-link{
    font-size: 1.1em !important;
  }
  
main {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* border: 2px solid black; */
    border-radius: 10px;
    height: auto;
}

.imag-fondo {
    margin: 10px;
} 

footer {
    background-color: rgb(247, 247, 213);
    /* border: 2px solid black; */
    color: black;
    height: 50px;
    align-content: center;
    text-align: center;
  }


li:hover {
    font-weight: bold;
    color: rgb(47, 96, 90);
}



h1 {
    text-align: center;
}

/* PRODUCTOS */

#pagina-prod {
  color: white;
  /* text-decoration: none; */
}

#pagina-prod:hover {
  font-size: 1.3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contenido-productos {
  
  border-radius: 5px;
  background-color: rgb(231, 241, 240);
  padding: 0;
}

.img-prod {
  max-width: 30%;
  justify-content: space-evenly;
  max-width: 1200px; max-height: 1200px;
  
  
}

.prod1:hover {
  transform: scale(1.05); /* aumenta el tamaño en un 5% */
  box-shadow: 0 0 20px rgb(47, 96, 90); /* añade una sombra */
  transition: transform 0.3s ease; /* transición suave */
  /* background-color: rgb(47, 96, 90); */

}

.fondo-prod {
  padding: 10px;
  color: white;
}

.flecha {
  background-color: rgb(47, 96, 90);
  border-radius: 10px;
  height: 100px;
  align-self: center;

} 
.fondo-prod {
  background-color: rgb(47, 96, 90, 0.8);
}

#col-md {
  /* border: solid black 1px; */
  margin: 5px;
  padding: 5px;
  margin-top: 5px;
  max-width: auto;
}
#row {
  flex-wrap: wrap;
}

.imag-prod {
  max-width: 100%; /* Cambiar a 100% para que las imágenes se ajusten al contenedor */
  max-height: auto;
}

.galeria {
  display: flex;
  flex-direction: row;
}


/* media queries */

/* extra small devices */
@media screen and (max-width: 599px) {
  .galeria {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/* small devices */
@media screen and (min-width: 600px) and (max-width: 767px) {
  .galeria {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

}

/* medium devices */
@media screen and (min-width: 768px) and (max-width: 991px) {
  
}

/* large devices */
@media screen and (min-width: 992px) and (max-width: 1199px) {


}

/* extra large devices */
@media screen and (min-width: 1200px) {

}

/* tengo q tocar galeria */