* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.bg-1 {
  background-color: rgb(47, 96, 90)
  }
  
.bg-2 {
  background-color: rgb(247, 247, 213)
  }
  
.text-1 {
    color:  rgb(47, 96, 90)
  }
    
.text-2 {
    color: rgb(247, 247, 213)
  }
  
.navbar{
    padding: 0rem;
  }
  
.navbar-nav li{
    padding-right: 20px;
  }
  
.nav-link{
    font-size: 1.1em !important;
  }
  
main {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* border: 2px solid black; */
    border-radius: 10px;
    height: auto;
}

.imag-fondo {
    margin: 10px;
} 

footer {
    background-color: rgb(247, 247, 213);
    /* border: 2px solid black; */
    color: black;
    height: 50px;
    align-content: center;
    text-align: center;
  }


li:hover {
    font-weight: bold;
    color: rgb(47, 96, 90);
}



h1 {
    text-align: center;
}

/* PRODUCTOS */



.link-cr {  /* link a pagina de cañas y redes */

  /* ATENCION me toma los estilos de los links de la pagina principal
      MODIFICAR una vez que suban la pagina principal */
  text-decoration: none;
  color: black;

}


.contenido-productos {
  
  border-radius: 5px;
  background-color: rgb(231, 241, 240);
  padding: 0;
}

.img-prod {
  max-width: 30%;
  justify-content: space-evenly;
  max-width: 1200px; max-height: 1200px;
  
  
}

.prod1:hover {
  transform: scale(1.05); /* aumenta el tamaño en un 5% */
  box-shadow: 0 0 20px rgb(47, 96, 90); /* añade una sombra */
  transition: transform 0.3s ease; /* transición suave */
  /* background-color: rgb(47, 96, 90); */

}

.fondo-prod {
  padding: 10px;
  color: white;
}

.flecha {
  background-color: rgb(47, 96, 90);
  border-radius: 10px;
  height: 100px;
  align-self: center;

} 
.fondo-prod {
  background-color: rgb(47, 96, 90, 0.8);
}

.col-md {
  /* border: solid black 1px; */
  margin: 5px;
  padding: 5px;
  margin-top: 5px;
}
.row {
  flex-wrap: wrap;
}

/* .row:hover {
  box-shadow: black;
  resize: 1.1rem;
} */