      <header>
          <nav class="navbar navbar-expand-lg bg-2">
            <div class="container-fluid">
              <a class="navbar-brand  ps-2" href="../index.html" p><img src="./images/logoverde_85px_horizontal.png"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item active">
                      <a class="nav-link text-1" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-1" href="./quienes_somos.html">Quienes Somos</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-1" href="./productos.html">Productos</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-1" href="./formulario.html">Contacto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-1" href="./carrito.html" >
                        <i class="fas fa-shopping-cart"></i> <span id="cartCount" class="badge bg-secondary"></span>
                    </a>
                  </li>
                </ul>
            </div>
            </div>
          </nav>
        </header>
  
  <h1 class="tit-prod">Indumentaria</h1>
  <main class="d-flex justify-content-start">
    
    <a href="productos.html" class="btn btn-outline-light text-dark">
      <i class="bi bi-arrow-left"></i> Volver a Productos
    </a>
  </main>

  <main class="d-flex justify-content-end">
        
        <a href="/indumentaria/listado" class="btn btn-outline-light text-dark">
            <i class="bi bi-arrow-right"></i> Listado de productos
        </a>
    </main>

  <main class="main">
    <div class="container mt-3">
        
        <div class="contenido-productos"> 
          <div class="row">
            {{#each data}}
                <div class="col-md-3 col-sm-6">
                    <div class="card mb-4 prod1">
                        <img src="{{imagen}}" class="card-img-top" alt="Producto 1">
                        <div class="card-body">
                            <h5 class="card-title">{{nombre}}</h5>
                            <p class="card-text">{{descripcion}}</p>
                            <p class="card-text border border-dark py-2 px-3 rounded" style="display: inline-block;">Precio: ${{precio}}</p>
                            <button class="btn btn-success aviso" onclick="addToCart('Buzo polar Payo - Negro', 35000)">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            {{/each}}
          </div>
            
          
    </div>
  </main>

  <script src="../js/script.js"></script>


    <footer>
      <div class="social-media">
        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://wa.me/1234567890" target="_blank" class="whatsapp-icon"><i class="fab fa-whatsapp"></i></a> 
      </div> 
        <p>Derechos Reservados</p>

    </footer> 


  